@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-image: url(../imagens/wallpaper-pokebola.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.cabecalho { /* sempre que tiver um ponto e o nome da classe vc vai estar estilizando essa class */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
}

.cabecalho .pokebola {
    width: 25px;
    height: 25px;
}

.cabecalho .titulo {    
    color: #f1ecff;
}

.pokemon-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 60px 0;
}

.lista-pokemon {
    width: 310px;
    height: 520px;
    position: relative;
}

.btn-seta {
    background-color: #f1ecff;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: background-color 0.2s ease-in-out;
}

.btn-seta.btn-voltar {
    transform: rotateY(180deg);
}

.btn-seta:hover {
    background-color: #262626;
}

.cartao {
    opacity: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 12px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: opacity 0.3s ease-in-out;
}

.cartao.selecionado {
    opacity: 1;
    z-index: 1;
}

.fundo-1, .fundo-2, .fundo-3, .fundo-4, .fundo-5, .fundo-6, .fundo-7 {
    background: url(../imagens/fundo-card.png) no-repeat;
    background-size: cover;
}

.cartao .informacoes {
    background-color: rgba(179, 177, 185, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-top-left-radius: 10px;
}

.cartao .informacoes .nome {
    color: #f1ecff;
    font-size: 22px;
}

.cartao .informacoes .vida {
    background-color: #333;
    color: #f1ecff;
    padding: 6px 10px;
    border-radius: 20px;
}

.cartao .container-imagem {
    text-align: center;
}

.cartao .imagem-pokemon {
    max-width: 100%;
    max-height: 280px;
    padding: 15px;
}

.cartao .descricao {
    background: rgba(255,255,255,0.8);
    border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cartao .descricao .titulo {
    background-color: #333;
    color: #f1ecff;
    font-size: 15px;
    padding: 12px;
}

.cartao .descricao .texto {
    font-size: 14px;
    padding: 12px;
    text-align: justify;
    max-height: 115px;
    overflow-y: auto;
}
